[submodule "src/sub_vision"]
	path = src/sub_vision
	url = https://gitlab.com/avbotz2021/sub_vision
    update = rebase
[submodule "src/sub_mission"]
	path = src/sub_mission
	url = https://gitlab.com/avbotz2021/sub_mission
    update = rebase
[submodule "src/sub_mavlink_control"]
	path = src/sub_mavlink_control
	url = https://gitlab.com/avbotz2021/sub_mavlink_control
    update = rebase
[submodule "src/sub_control"]
	path = src/sub_control
	url = https://gitlab.com/avbotz2021/sub_control
    update = rebase
[submodule "src/sub_control_interfaces"]
	path = src/sub_control_interfaces
	url = https://gitlab.com/avbotz2021/sub_control_interfaces
    update = rebase
