[submodule "src/sub_vision"]
	path = src/sub_vision
	url = https://github.com/avbotz/sub_vision
    update = rebase
[submodule "src/sub_mission"]
	path = src/sub_mission
	url = https://github.com/avbotz/sub_mission
    update = rebase
[submodule "src/sub_control"]
	path = src/sub_control
	url = https://github.com/avbotz/sub_control
    update = rebase
